
@{
    ViewBag.Title = "Admin Login";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<section class="normal-breadcrumb set-bg mt-5"
         data-setbg="/Content/img/normal-breadcrumb.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="normal__breadcrumb__text">
                    <div class="login__form" style="margin-left: 0%">
                        <h3 style="margin-right: 65%">Login ADMIN</h3>

                        @using (Html.BeginForm("AdminLogin", "AdminAccount", FormMethod.Post))
                        {

                            <span class="text-danger">@ViewBag.mess_err</span>


                            <div class="input__item">
                                <input type="text" name="AdminName" placeholder="Your Name" />
                                <span class="icon_profile"></span>
                            </div>

                            <div class="input__item">
                                <input type="password" name="password" placeholder="Password" />
                                <span class="icon_lock"></span>
                            </div>

                            <button type="submit" class="site-btn" style="margin-right: 90%">Login</button>
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
