
@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<form action="/upload" method="post" enctype="multipart/form-data">
    <div class="dropzone" id="my-dropzone"></div>
    <button type="submit" class="btn btn-primary">Upload</button>
</form>

@section Scripts {
    <link href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.2/dropzone.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.2/min/dropzone.min.js"></script>
    <script>
        Dropzone.autoDiscover = false;
        $(document).ready(function () {
            var myDropzone = new Dropzone("#my-dropzone", {
                url: "/upload",
                autoProcessQueue: false,
                uploadMultiple: true,
                parallelUploads: 5,
                maxFiles: 5,
                addRemoveLinks: true,
                dictDefaultMessage: "Click hoặc kéo các file vào đây",
                dictRemoveFile: "Xóa file",
                acceptedFiles: "image/*,.mp4,.avi,.mkv,.wmv,.mov",
                maxFilesize: 500,
                init: function () {
                    this.on("addedfile", function (file) {

                        //create image preview before upload
                        if(file.type.match(/image.*/)) {
                            var reader = new FileReader();
                            reader.readAsDataURL(file);
                            reader.onload = function (e) {
                                var img = new Image();
                                img.src = reader.result;
                                img.onload = function () {
                                    var imgDiv = document.createElement('div');
                                    imgDiv.setAttribute("class", "dz-img-preview");
                                    imgDiv.appendChild(img);
                                    file.previewElement.appendChild(imgDiv);
                                    file.previewElement.classList.add("dz-success");
                                };
                            }
                        }

                        //create video preview before upload
                        if(file.type.match(/video.*/)) {
                            var video = document.createElement('video');
                            var videoDiv = document.createElement('div');
                            var closeVideoBtn = document.createElement('button');
                            closeVideoBtn.setAttribute("type", "button");
                            closeVideoBtn.setAttribute("class", "close");
                            closeVideoBtn.innerHTML = "&times;";
                            video.setAttribute("src", URL.createObjectURL(file));
                            video.setAttribute("height", 200);
                            video.setAttribute("width", "100%");
                            video.setAttribute("controls", "controls");
                            videoDiv.appendChild(closeVideoBtn);
                            videoDiv.appendChild(video);
                            file.previewElement.appendChild(videoDiv);
                            file.previewElement.classList.add("dz-success");
                            closeVideoBtn.addEventListener('click', function(){
                                videoDiv.remove();
                                file.previewElement.classList.remove("dz-success");
                            });

                        }
                    });
                }
            });

            $(document).on('click', 'button[type="submit"]', function (e) {
                e.preventDefault();
                if (myDropzone.getQueuedFiles().length > 0) {
                    myDropzone.processQueue();
                } else {
                    $('form')[0].submit();
                }
            });
        });
    </script>
}
