
@{
    ViewBag.Title = "Admin Page";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<!-- Product Section Begin -->
<section class="hero">
    <div class="container">
        <div style="display:flex">
            <div class="header p-3" style="width:25%">
                <aside>
                    <ul class="list-group mt-4">
                        <li class="list-group-item my-1 item-active text-center">
                            <a href="#">
                                Manage Anime (danh sach)
                            </a>
                        </li>
                    </ul>
                </aside>

            </div>


            <div style="width:85%">

                <div style="float:right; padding: 5px 10px">
                    <button type="button" class="btn btn-success" onclick="location.href('#')"> Add Movie</button>
                </div>

                <div class="product__sidebar mt-5">
                    <div class="product__sidebar__view">
                        <div class="section-title">
                            <h5>List Categories Anime</h5>
                        </div>

                        <ul class="filter__controls">
                            <li class="active" data-filter="*">
                                All
                            </li>
                            <li data-filter=".trending">Trending</li>
                            <li data-filter=".adventure">Adventure</li>
                            <li data-filter=".month">Month</li>
                            <li data-filter=".years">Years</li>
                        </ul>

                        <div class="filter__gallery">


                            @* item 1 *@
                            <div class="anime__details__content mix years" style="width:100%">
                                <div class="row">
                                    <div class="col-lg-3">
                                        <div class="anime__details__pic set-bg"
                                             data-setbg="/Content/img/anime/details-pic.jpg" style="height:350px">
                                            <div class="comment"><i class="fa fa-comments"></i> 11</div>
                                            <div class="view"><i class="fa fa-eye"></i> 9141</div>
                                        </div>
                                    </div>
                                    <div class="col-lg-9">
                                        <div class="anime__details__text">
                                            <div class="anime__details__title">
                                                <h3>Fate Stay Night: Unlimited Blade</h3>

                                            </div>
                                            <p>
                                                Every human inhabiting the world of Alcia is branded by a
                                                “Count” or a number written on their body. For Hina’s mother,
                                                her total drops to 0 and she’s pulled into the Abyss, never to
                                                be seen again. But her mother’s last words send Hina on a
                                                quest to find a legendary hero from the Waste War - the fabled
                                                Ace!
                                                <!-- detail -->
                                            </p>
                                            <div class="anime__details__widget">

                                                <ul>
                                                    <li><span>Studios:</span> Lerche</li>
                                                    <li>
                                                        <span>Genre:</span> Action, Adventure, Fantasy, Magic
                                                    </li>
                                                </ul>

                                            </div>

                                            <div class="anime__details__btn">
                                                <a href="#" class="btn btn-secondary" style="margin-right:10px"> EDIT</a>

                                                <a href="#" class="btn btn-danger">DELETE</a>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            @* end item 1 *@

                            @* item 2 *@

                            <div class="anime__details__content mix month" style="width:100%">
                                <div class="row">
                                    <div class="col-lg-3">
                                        <div class="anime__details__pic set-bg"
                                             data-setbg="/Content/img/anime/details-pic.jpg" style="height:350px">
                                            <div class="comment"><i class="fa fa-comments"></i> 11</div>
                                            <div class="view"><i class="fa fa-eye"></i> 9141</div>
                                        </div>
                                    </div>
                                    <div class="col-lg-9">
                                        <div class="anime__details__text">
                                            <div class="anime__details__title">
                                                <h3>Fate Stay Night: Unlimited Blade</h3>

                                            </div>
                                            <p>
                                                Every human inhabiting the world of Alcia is branded by a
                                                “Count” or a number written on their body. For Hina’s mother,
                                                her total drops to 0 and she’s pulled into the Abyss, never to
                                                be seen again. But her mother’s last words send Hina on a
                                                quest to find a legendary hero from the Waste War - the fabled
                                                Ace!
                                                <!-- detail -->
                                            </p>
                                            <div class="anime__details__widget">

                                                <ul>
                                                    <li><span>Studios:</span> Lerche</li>
                                                    <li>
                                                        <span>Genre:</span> Action, Adventure, Fantasy, Magic
                                                    </li>
                                                </ul>

                                            </div>

                                            <div class="anime__details__btn">
                                                <a href="#" class="btn btn-secondary" style="margin-right:10px"> EDIT</a>

                                                <a href="#" class="btn btn-danger">DELETE</a>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            @* end item 2 *@

                        </div>


                    </div>
                </div>
            </div>


        </div>

    </div>
</section>